:root {
    --white: #fff;
    --dark: #00171f;
    --neutral: #003459;
    --light: #007ea7;
    --primary: #00a8e8;
}

@media (min-width: 768px) {
    .header {
        margin-top: 100px !important;
    }
}

.container {
    max-width: 825px;
}

.header__img {
    max-height: 250px;
}

@media (min-width: 768px) {
    .header__img {
        max-height: 200px;
    }
}

.services {
    color: var(--white);
    background-color: var(--light)
}

.footer__icon {
    max-height: 30px;
}
/* Temp */

.text-dark {
    color: var(--dark) !important;
}
.text-light {
    color: var(--light) !important;
}
.text-primary {
    color: var(--primary) !important;
}
.bg-dark {
    background-color: var(--dark) !important;
}
.bg-primary {
    background-color: var(--primary) !important;
}
.link-dark {
    color: var(--dark) !important;
    text-decoration: none;
}
.link-dark:hover {
    color: var(--primary) !important;
    text-decoration: underline;
}